# Core django + esentials
Django>=1.10
gunicorn>=19.6
pytz
BabelDjango>=0.2
django-debug-toolbar
django-ipware>=1.1


# Assets
django-assets>=0.12
webassets
yuicompressor>=2.4

# Images
easy-thumbnails>=2.3
sorl-thumbnail>=12.3
pillow
django-filer>=1.2

#Async tasks
celery>=3.1

# Misc
django-bootstrap-form
markdown>=2.6
django-guardian>=1.4
django-reversion>=2.0
djangorestframework>=3.5
requests
psycopg2>=2.6

