# Core django + esentials
Django==1.10.2
gunicorn==19.6.0
pytz==2016.7
BabelDjango==0.2.2
django-debug-toolbar==1.6
django-ipware==1.1.6


# Assets
django-assets==0.12
webassets==0.12.0
yuicompressor==2.4.8

# Images
easy-thumbnails==2.3
sorl-thumbnail==12.3
pillow==3.4.2
django-filer==1.2.5

#Async tasks
celery==3.1.24

# Misc
django-bootstrap-form==3.2.1
markdown==2.6.7
django-guardian==1.4.6
django-reversion==2.0.6
djangorestframework==3.4.7
requests==2.11.1
psycopg2==2.6.2

