# Core django + esentials
Django==1.10.2
gunicorn
pytz==2016.7
BabelDjango
django-debug-toolbar
django-ipware


# Assets
django-assets==0.12
webassets==0.12.0
yuicompressor

# Images
easy-thumbnails
sorl-thumbnail
pillow
django-filer

#Async tasks
celery

# Misc
django-bootstrap-form
markdown
django-guardian
django-reversion
djangorestframework==3.4.7
requests
psycopg2

