{% load staticfiles %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-24">

            </div>
            <div class="col-md-8 col-sm-8 col-xs-24">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-24">
            </div>
        </div>
    </div>
    <div class="authors">
        <div class="container ">
            <div class="row ">
                <div class="col-md-24">
                    <ul>
                        <li><a href="https://github.com/wooyek/django-website-pro">GitHub</a></li>
                        <li><a href="https://github.com/wooyek/django-website-pro/issues">Issues</a></li>
                    </ul>
                    <p>© 2015 <a href="http://skonieczny.pl">Janusz Skonieczny</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>



